/*====================================================================================================================*/
/* WIDTHS */

.w-fill {
    width: -webkit-fill-available;
}

.w-100 {
    width: 100%;
}

/*====================================================================================================================*/
/* FLEX */

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.direction-col {
    flex-direction: column;
}

/*====================================================================================================================*/
/* MARGINS */

.ml-1 {
    margin-left: 1em;
}

.mb-1 {
    margin-bottom: 1em;
}

.mr-1 {
    margin-right: 1em;
}

/*====================================================================================================================*/
/* PADDING */

.p-sm {
    padding: 0.5em;
}

.pb-sm {
    padding-bottom: 0.5em;
}

.pt-lg {
    padding-top: 2em;
}

/*====================================================================================================================*/