.login-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.login-banner {
    background-color: var(--background);
}

.login-form-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}